---
title: Registration
---

<p>On Saturday morning, the registration desk will open at <b>10.00am</b>. We operate a secure site policy and therefore we require you to bring along:</p>

<ul>
  <li>Some form of photo ID (e.g. passport, driving licence or student card).</li>
</ul>
Or:
<ul>
  <li>A print-out of your Eventbrite confirmation email, along with a bankcard or something official with your name on it.</li>
</ul>

<p>You will be issued a wristband which must be worn at all times when at the venue.</p>

<h3>Bring your own badge</h3>

<p>We won't be providing any badges this year. Instead we want you to <b>bring your own badge</b>. This can be from any previous event you've been to, as long as your name appears on it. Don't worry, we'll also provide a batchmaking station for those of you that don't have or can't find any old badges.</p>
