---
title: How do the sessions work?
---

<p>Unlike traditional conferences, the schedule for sessions at a BarCamp are decided by the participants. After the opening's talk on Saturday, you’ll have a chance to go fill out the schedule grid.</p>

<p>Pick a topic to talk about – you can talk about absolutely anything, previous events have included sessions on HTML, version control and advanced programming techniques all the way to baking and making the perfect cup of tea! Once you’ve decided on a subject, take a card and place it in your chosen time slot. There are multiple sessions going on at any one time, so try and guess how popular your talk might be, and pick a suitable room.</p>

<p>Don’t worry if you don’t understand any of the above. The BarCamp Crew will be on hand to answer any questions you have.</p>

