---
title: Schedule
---

<h2>Saturday</h2>

<table class="schedule">
  <tbody>
    <tr>
      <th>10:00</th>
      <td class="admin">Doors &amp; Registration Opens</td>
    </tr>
    <tr>
      <th>10:30</th>
      <td class="admin">Opening Talk and Introductions</td>
    </tr>
    <tr>
      <th>11:00</th>
      <td class="admin">Grid Population</td>
    </tr>
    <tr>
      <th>11:30</th>
      <td>Sessions <em>- 3 x 25 min, then 1 x 30 min</em></td>
    </tr>
    <tr>
      <th>13:30</th>
      <td class="admin">Lunch</td>
    </tr>
    <tr>
      <th>14:30</th>
      <td>Sessions <em>- 3 x 25 min, then 1 x 30 min</em></td>
    </tr>
    <tr>
      <th>16:30</th>
      <td class="admin">Afternoon Tea</td>
    </tr>
    <tr>
      <th>17:00</th>
      <td>Sessions <em>- 3 x 25 min, then 1 x 30 min</em></td>
    </tr>
    <tr>
      <th>19:00</th>
      <td class="admin">Dinner</td>
    </tr>
    <tr>
      <th>20:00</th>
      <td class="admin">Bar Opens &amp; Games</td>
    </tr>
    <tr>
      <th>20:30</th>
      <td>Sessions <em>- 2 x 25 min, then 1 x 30 min</em></td>
    </tr>
    <tr>
      <th>22:00</th>
      <td class="admin">Adhoc sessions, games, werewolf continues.</td>
    </tr>
  </tbody>
</table>

<h2>Sunday</h2>

<table class="schedule">
  <tbody>
    <tr>
      <th>08:30</th>
      <td class="admin">Breakfast</td>
    </tr>
    <tr>
      <th>09:30</th>
      <td class="admin">Door Open &amp; Registration (if you didn't stay overnight)</td>
    </tr>
    <tr>
      <th>10:00</th>
      <td>Sessions <em>- 2 x 25 min</em></td>
    </tr>
    <tr>
      <th>11:00</th>
      <td class="admin">Tea Break</td>
    </tr>
    <tr>
      <th>11:30</th>
      <td>Sessions <em>- 2 x 25 min, then 1 x 30 min</em></td>
    </tr>
    <tr>
      <th>13:00</th>
      <td class="admin">Lunch</td>
    </tr>
    <tr>
      <th>14:00</th>
      <td>Sessions <em>- 3 x 25 min, then 1 x 30 min</em></td>
    </tr>
    <tr>
      <th>16:00</th>
      <td class="admin">Closing Talk</td>
    </tr>
  </tbody>
</table>
